<h3 class="bracket-title">Regional Brackets</h3>
<div class="container">
  <div class="regional-box w-50">
    <h3 class="bracket-title">Regional 1</h3>
    <div class="horizontal-scroll">
      <div class="bracket">
        <div class="column one">
          <div class="match">
            <div class="match-top team">
              <span class="image"></span>
              <span class="seed">1</span>
              <span class="name">Highest Seeded Team</span>
              <span class="overall-record">(W-L)</span>
            </div>
            <div class="match-bottom team">
              <span class="image"></span>
              <span class="seed"></span>
              <span class="name">Lowest Unseeded Team</span>
              <span class="overall-record">(W-L)</span>
            </div>
            <div class="match-lines">
              <div class="line one"></div>
              <div class="line two"></div>
            </div>
            <div class="match-lines alt">
              <div class="line one"></div>
            </div>
          </div>
          <div class="match">
            <div class="match-top team">
              <span class="image"></span>
              <span class="seed">16</span>
              <span class="name">Lowest Seeded Team</span>
              <span class="overall-record">(W-L)</span>
            </div>
            <div class="match-bottom team">
              <span class="image"></span>
              <span class="seed"></span>
              <span class="name">Highest Unseeded Team</span>
              <span class="overall-record">(W-L)</span>
            </div>
            <div class="match-lines">
              <div class="line one"></div>
              <div class="line two"></div>
            </div>
            <div class="match-lines alt">
              <div class="line one"></div>
            </div>
          </div>
        </div>
        <div class="column two">
          <div class="match">
            <div class="match-top team">
              <span class="image"></span>
              <span class="seed"></span>
              <span class="name">Game 1 Winner</span>
              <span class="overall-record">(W-L)</span>
            </div>
            <div class="match-bottom team">
              <span class="image"></span>
              <span class="seed"></span>
              <span class="name">Game 16 Winner</span>
              <span class="overall-record">(W-L)</span>
            </div>
            <div class="match-lines alt">
              <div class="line one"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="regional-box w-50">
    <h3 class="bracket-title">Regional 8</h3>
    <div class="horizontal-scroll">
      <div class="bracket">
        <div class="column one">
          <div class="match">
            <div class="match-top team">
              <span class="image"></span>
              <span class="seed">8</span>
              <span class="name">8th Highest Seeded Team</span>
              <span class="overall-record">(W-L)</span>
            </div>
            <div class="match-bottom team">
              <span class="image"></span>
              <span class="seed"></span>
              <span class="name">8th Lowest Unseeded Team</span>
              <span class="overall-record">(W-L)</span>
            </div>
            <div class="match-lines">
              <div class="line one"></div>
              <div class="line two"></div>
            </div>
            <div class="match-lines alt">
              <div class="line one"></div>
            </div>
          </div>
          <div class="match">
            <div class="match-top team">
              <span class="image"></span>
              <span class="seed">9</span>
              <span class="name">8th Lowest Seeded Team</span>
              <span class="overall-record">(W-L)</span>
            </div>
            <div class="match-bottom team">
              <span class="image"></span>
              <span class="seed"></span>
              <span class="name">8th Highest Unseeded Team</span>
              <span class="overall-record">(W-L)</span>
            </div>
            <div class="match-lines">
              <div class="line one"></div>
              <div class="line two"></div>
            </div>
            <div class="match-lines alt">
              <div class="line one"></div>
            </div>
          </div>
        </div>
        <div class="column two">
          <div class="match">
            <div class="match-top team">
              <span class="image"></span>
              <span class="seed"></span>
              <span class="name">Game 8 Winner</span>
              <span class="overall-record">(W-L)</span>
            </div>
            <div class="match-bottom team">
              <span class="image"></span>
              <span class="seed"></span>
              <span class="name">Game 9 Winner</span>
              <span class="overall-record">(W-L)</span>
            </div>
            <div class="match-lines alt">
              <div class="line one"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="regional-box w-50">
    <h3 class="bracket-title">Regional 2</h3>
    <div class="horizontal-scroll">
      <div class="bracket">
        <div class="column one">
          <div class="match">
            <div class="match-top team">
              <span class="image"></span>
              <span class="seed">2</span>
              <span class="name">2nd Highest Seeded Team</span>
              <span class="overall-record">(W-L)</span>
            </div>
            <div class="match-bottom team">
              <span class="image"></span>
              <span class="seed"></span>
              <span class="name">2nd Lowest Unseeded Team</span>
              <span class="overall-record">(W-L)</span>
            </div>
            <div class="match-lines">
              <div class="line one"></div>
              <div class="line two"></div>
            </div>
            <div class="match-lines alt">
              <div class="line one"></div>
            </div>
          </div>
          <div class="match">
            <div class="match-top team">
              <span class="image"></span>
              <span class="seed">15</span>
              <span class="name">2nd Lowest Seeded Team</span>
              <span class="overall-record">(W-L)</span>
            </div>
            <div class="match-bottom team">
              <span class="image"></span>
              <span class="seed"></span>
              <span class="name">2nd Highest Unseeded Team</span>
              <span class="overall-record">(W-L)</span>
            </div>
            <div class="match-lines">
              <div class="line one"></div>
              <div class="line two"></div>
            </div>
            <div class="match-lines alt">
              <div class="line one"></div>
            </div>
          </div>
        </div>
        <div class="column two">
          <div class="match">
            <div class="match-top team">
              <span class="image"></span>
              <span class="seed"></span>
              <span class="name">Game 2 Winner</span>
              <span class="overall-record">(W-L)</span>
            </div>
            <div class="match-bottom team">
              <span class="image"></span>
              <span class="seed"></span>
              <span class="name">Game 15 Winner</span>
              <span class="overall-record">(W-L)</span>
            </div>
            <div class="match-lines alt">
              <div class="line one"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="regional-box w-50">
    <h3 class="bracket-title">Regional 7</h3>
    <div class="horizontal-scroll">
      <div class="bracket">
        <div class="column one">
          <div class="match">
            <div class="match-top team">
              <span class="image"></span>
              <span class="seed">7</span>
              <span class="name">7th Highest Seeded Team</span>
              <span class="overall-record">(W-L)</span>
            </div>
            <div class="match-bottom team">
              <span class="image"></span>
              <span class="seed"></span>
              <span class="name">7th Lowest Unseeded Team</span>
              <span class="overall-record">(W-L)</span>
            </div>
            <div class="match-lines">
              <div class="line one"></div>
              <div class="line two"></div>
            </div>
            <div class="match-lines alt">
              <div class="line one"></div>
            </div>
          </div>
          <div class="match">
            <div class="match-top team">
              <span class="image"></span>
              <span class="seed">10</span>
              <span class="name">7th Lowest Seeded Team</span>
              <span class="overall-record">(W-L)</span>
            </div>
            <div class="match-bottom team">
              <span class="image"></span>
              <span class="seed"></span>
              <span class="name">7th Highest Unseeded Team</span>
              <span class="overall-record">(W-L)</span>
            </div>
            <div class="match-lines">
              <div class="line one"></div>
              <div class="line two"></div>
            </div>
            <div class="match-lines alt">
              <div class="line one"></div>
            </div>
          </div>
        </div>
        <div class="column two">
          <div class="match">
            <div class="match-top team">
              <span class="image"></span>
              <span class="seed"></span>
              <span class="name">Game 7 Winner</span>
              <span class="overall-record">(W-L)</span>
            </div>
            <div class="match-bottom team">
              <span class="image"></span>
              <span class="seed"></span>
              <span class="name">Game 10 Winner</span>
              <span class="overall-record">(W-L)</span>
            </div>
            <div class="match-lines alt">
              <div class="line one"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="regional-box w-50">
    <h3 class="bracket-title">Regional 3</h3>
    <div class="horizontal-scroll">
      <div class="bracket">
        <div class="column one">
          <div class="match">
            <div class="match-top team">
              <span class="image"></span>
              <span class="seed">3</span>
              <span class="name">3rd Highest Seeded Team</span>
              <span class="overall-record">(W-L)</span>
            </div>
            <div class="match-bottom team">
              <span class="image"></span>
              <span class="seed"></span>
              <span class="name">3rd Lowest Unseeded Team</span>
              <span class="overall-record">(W-L)</span>
            </div>
            <div class="match-lines">
              <div class="line one"></div>
              <div class="line two"></div>
            </div>
            <div class="match-lines alt">
              <div class="line one"></div>
            </div>
          </div>
          <div class="match">
            <div class="match-top team">
              <span class="image"></span>
              <span class="seed">14</span>
              <span class="name">3rd Lowest Seeded Team</span>
              <span class="overall-record">(W-L)</span>
            </div>
            <div class="match-bottom team">
              <span class="image"></span>
              <span class="seed"></span>
              <span class="name">3rd Highest Unseeded Team</span>
              <span class="overall-record">(W-L)</span>
            </div>
            <div class="match-lines">
              <div class="line one"></div>
              <div class="line two"></div>
            </div>
            <div class="match-lines alt">
              <div class="line one"></div>
            </div>
          </div>
        </div>
        <div class="column two">
          <div class="match">
            <div class="match-top team">
              <span class="image"></span>
              <span class="seed"></span>
              <span class="name">Game 3 Winner</span>
              <span class="overall-record">(W-L)</span>
            </div>
            <div class="match-bottom team">
              <span class="image"></span>
              <span class="seed"></span>
              <span class="name">Game 14 Winner</span>
              <span class="overall-record">(W-L)</span>
            </div>
            <div class="match-lines alt">
              <div class="line one"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="regional-box w-50">
    <h3 class="bracket-title">Regional 6</h3>
    <div class="horizontal-scroll">
      <div class="bracket">
        <div class="column one">
          <div class="match">
            <div class="match-top team">
              <span class="image"></span>
              <span class="seed">6</span>
              <span class="name">6th Highest Seeded Team</span>
              <span class="overall-record">(W-L)</span>
            </div>
            <div class="match-bottom team">
              <span class="image"></span>
              <span class="seed"></span>
              <span class="name">6th Lowest Unseeded Team</span>
              <span class="overall-record">(W-L)</span>
            </div>
            <div class="match-lines">
              <div class="line one"></div>
              <div class="line two"></div>
            </div>
            <div class="match-lines alt">
              <div class="line one"></div>
            </div>
          </div>
          <div class="match">
            <div class="match-top team">
              <span class="image"></span>
              <span class="seed">11</span>
              <span class="name">6th Lowest Seeded Team</span>
              <span class="overall-record">(W-L)</span>
            </div>
            <div class="match-bottom team">
              <span class="image"></span>
              <span class="seed"></span>
              <span class="name">6th Highest Unseeded Team</span>
              <span class="overall-record">(W-L)</span>
            </div>
            <div class="match-lines">
              <div class="line one"></div>
              <div class="line two"></div>
            </div>
            <div class="match-lines alt">
              <div class="line one"></div>
            </div>
          </div>
        </div>
        <div class="column two">
          <div class="match">
            <div class="match-top team">
              <span class="image"></span>
              <span class="seed"></span>
              <span class="name">Game 6 Winner</span>
              <span class="overall-record">(W-L)</span>
            </div>
            <div class="match-bottom team">
              <span class="image"></span>
              <span class="seed"></span>
              <span class="name">Game 11 Winner</span>
              <span class="overall-record">(W-L)</span>
            </div>
            <div class="match-lines alt">
              <div class="line one"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="regional-box w-50">
    <h3 class="bracket-title">Regional 4</h3>
    <div class="horizontal-scroll">
      <div class="bracket">
        <div class="column one">
          <div class="match">
            <div class="match-top team">
              <span class="image"></span>
              <span class="seed">4</span>
              <span class="name">4th Highest Seeded Team</span>
              <span class="overall-record">(W-L)</span>
            </div>
            <div class="match-bottom team">
              <span class="image"></span>
              <span class="seed"></span>
              <span class="name">4th Lowest Unseeded Team</span>
              <span class="overall-record">(W-L)</span>
            </div>
            <div class="match-lines">
              <div class="line one"></div>
              <div class="line two"></div>
            </div>
            <div class="match-lines alt">
              <div class="line one"></div>
            </div>
          </div>
          <div class="match">
            <div class="match-top team">
              <span class="image"></span>
              <span class="seed">13</span>
              <span class="name">4th Lowest Seeded Team</span>
              <span class="overall-record">(W-L)</span>
            </div>
            <div class="match-bottom team">
              <span class="image"></span>
              <span class="seed"></span>
              <span class="name">4th Highest Unseeded Team</span>
              <span class="overall-record">(W-L)</span>
            </div>
            <div class="match-lines">
              <div class="line one"></div>
              <div class="line two"></div>
            </div>
            <div class="match-lines alt">
              <div class="line one"></div>
            </div>
          </div>
        </div>
        <div class="column two">
          <div class="match">
            <div class="match-top team">
              <span class="image"></span>
              <span class="seed"></span>
              <span class="name">Game 4 Winner</span>
              <span class="overall-record">(W-L)</span>
            </div>
            <div class="match-bottom team">
              <span class="image"></span>
              <span class="seed"></span>
              <span class="name">Game 13 Winner</span>
              <span class="overall-record">(W-L)</span>
            </div>
            <div class="match-lines alt">
              <div class="line one"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="regional-box w-50">
    <h3 class="bracket-title">Regional 5</h3>
    <div class="horizontal-scroll">
      <div class="bracket">
        <div class="column one">
          <div class="match">
            <div class="match-top team">
              <span class="image"></span>
              <span class="seed">5</span>
              <span class="name">5th Highest Seeded Team</span>
              <span class="overall-record">(W-L)</span>
            </div>
            <div class="match-bottom team">
              <span class="image"></span>
              <span class="seed"></span>
              <span class="name">5th Lowest Unseeded Team</span>
              <span class="overall-record">(W-L)</span>
            </div>
            <div class="match-lines">
              <div class="line one"></div>
              <div class="line two"></div>
            </div>
            <div class="match-lines alt">
              <div class="line one"></div>
            </div>
          </div>
          <div class="match">
            <div class="match-top team">
              <span class="image"></span>
              <span class="seed">12</span>
              <span class="name">5th Lowest Seeded Team</span>
              <span class="overall-record">(W-L)</span>
            </div>
            <div class="match-bottom team">
              <span class="image"></span>
              <span class="seed"></span>
              <span class="name">5th Highest Unseeded Team</span>
              <span class="overall-record">(W-L)</span>
            </div>
            <div class="match-lines">
              <div class="line one"></div>
              <div class="line two"></div>
            </div>
            <div class="match-lines alt">
              <div class="line one"></div>
            </div>
          </div>
        </div>
        <div class="column two">
          <div class="match">
            <div class="match-top team">
              <span class="image"></span>
              <span class="seed"></span>
              <span class="name">Game 5 Winner</span>
              <span class="overall-record">(W-L)</span>
            </div>
            <div class="match-bottom team">
              <span class="image"></span>
              <span class="seed"></span>
              <span class="name">Game 12 Winner</span>
              <span class="overall-record">(W-L)</span>
            </div>
            <div class="match-lines alt">
              <div class="line one"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<h3 class="bracket-title">Epic Eight</h3>
<p>
  The 8 regional winners would advance to the final 8-team playoff. Teams can
  either be re-seeded (as shown below) or maintain the original bracket.
</p>
<div class="horizontal-scroll">
  <div class="bracket">
    <div class="column one">
      <div class="match">
        <div class="match-top team">
          <span class="image"></span>
          <span class="seed">1</span>
          <span class="name">Highest Seeded Team</span>
          <span class="overall-record">(W-L)</span>
        </div>
        <div class="match-bottom team">
          <span class="image"></span>
          <span class="seed">8</span>
          <span class="name">Lowest Seeded Team</span>
          <span class="overall-record">(W-L)</span>
        </div>
        <div class="match-lines">
          <div class="line one"></div>
          <div class="line two"></div>
        </div>
        <div class="match-lines alt">
          <div class="line one"></div>
        </div>
      </div>
      <div class="match">
        <div class="match-top team">
          <span class="image"></span>
          <span class="seed">4</span>
          <span class="name">4th Highest Seeded Team</span>
          <span class="overall-record">(W-L)</span>
        </div>
        <div class="match-bottom team">
          <span class="image"></span>
          <span class="seed">5</span>
          <span class="name">4th Lowest Seeded Team</span>
          <span class="overall-record">(W-L)</span>
        </div>
        <div class="match-lines">
          <div class="line one"></div>
          <div class="line two"></div>
        </div>
        <div class="match-lines alt">
          <div class="line one"></div>
        </div>
      </div>
      <div class="match">
        <div class="match-top team">
          <span class="image"></span>
          <span class="seed">2</span>
          <span class="name">2nd Highest Seeded Team</span>
          <span class="overall-record">(W-L)</span>
        </div>
        <div class="match-bottom team">
          <span class="image"></span>
          <span class="seed">7</span>
          <span class="name">2nd Lowest Seeded Team</span>
          <span class="overall-record">(W-L)</span>
        </div>
        <div class="match-lines">
          <div class="line one"></div>
          <div class="line two"></div>
        </div>
        <div class="match-lines alt">
          <div class="line one"></div>
        </div>
      </div>
      <div class="match">
        <div class="match-top team">
          <span class="image"></span>
          <span class="seed">3</span>
          <span class="name">3rd Highest Seeded Team</span>
          <span class="overall-record">(W-L)</span>
        </div>
        <div class="match-bottom team">
          <span class="image"></span>
          <span class="seed">6</span>
          <span class="name">3rd Lowest Seeded Team</span>
          <span class="overall-record">(W-L)</span>
        </div>
        <div class="match-lines">
          <div class="line one"></div>
          <div class="line two"></div>
        </div>
        <div class="match-lines alt">
          <div class="line one"></div>
        </div>
      </div>
    </div>
    <div class="column two">
      <div class="match">
        <div class="match-top team">
          <span class="image"></span>
          <span class="seed"></span>
          <span class="name">Quarterfinal 1 Winner</span>
          <span class="overall-record">(W-L)</span>
        </div>
        <div class="match-bottom team">
          <span class="image"></span>
          <span class="seed"></span>
          <span class="name">Quarterfinal 4 Winner</span>
          <span class="overall-record">(W-L)</span>
        </div>
        <div class="match-lines">
          <div class="line one"></div>
          <div class="line two"></div>
        </div>
        <div class="match-lines alt">
          <div class="line one"></div>
        </div>
      </div>
      <div class="match">
        <div class="match-top team">
          <span class="image"></span>
          <span class="seed"></span>
          <span class="name">Quarterfinal 2 Winner</span>
          <span class="overall-record">(W-L)</span>
        </div>
        <div class="match-bottom team">
          <span class="image"></span>
          <span class="seed"></span>
          <span class="name">Quarterfinal 3 Winner</span>
          <span class="overall-record">(W-L)</span>
        </div>
        <div class="match-lines">
          <div class="line one"></div>
          <div class="line two"></div>
        </div>
        <div class="match-lines alt">
          <div class="line one"></div>
        </div>
      </div>
    </div>
    <div class="column three">
      <div class="match">
        <div class="match-top team">
          <span class="image"></span>
          <span class="seed"></span>
          <span class="name">Semifinal 1 Winner</span>
          <span class="overall-record">(W-L)</span>
        </div>
        <div class="match-bottom team">
          <span class="image"></span>
          <span class="seed"></span>
          <span class="name">Semifinal 2 Winner</span>
          <span class="overall-record">(W-L)</span>
        </div>
        <div class="match-lines">
          <div class="line one"></div>
          <div class="line two"></div>
        </div>
        <div class="match-lines alt">
          <div class="line one"></div>
        </div>
      </div>
    </div>
  </div>
</div>
