<div class="table-scroll">
  <table>
    <thead>
      <tr>
        <th>Seed</th>
        <th>Team</th>
        <th>Overall Record</th>
        <th>Conference</th>
        <th>Berth Type</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>TBD</td>
        <td>TBD</td>
        <td>TBD</td>
        <td>TBD</td>
      </tr>
      <tr>
        <td>2</td>
        <td>TBD</td>
        <td>TBD</td>
        <td>TBD</td>
        <td>TBD</td>
      </tr>
      <tr>
        <td>3</td>
        <td>TBD</td>
        <td>TBD</td>
        <td>TBD</td>
        <td>TBD</td>
      </tr>
      <tr>
        <td>4</td>
        <td>TBD</td>
        <td>TBD</td>
        <td>TBD</td>
        <td>TBD</td>
      </tr>
      <tr>
        <td>5</td>
        <td>TBD</td>
        <td>TBD</td>
        <td>TBD</td>
        <td>TBD</td>
      </tr>
      <tr>
        <td>6</td>
        <td>TBD</td>
        <td>TBD</td>
        <td>TBD</td>
        <td>TBD</td>
      </tr>
      <tr>
        <td>7</td>
        <td>TBD</td>
        <td>TBD</td>
        <td>TBD</td>
        <td>TBD</td>
      </tr>
      <tr>
        <td>8</td>
        <td>TBD</td>
        <td>TBD</td>
        <td>TBD</td>
        <td>TBD</td>
      </tr>
      <tr>
        <td>9</td>
        <td>TBD</td>
        <td>TBD</td>
        <td>TBD</td>
        <td>TBD</td>
      </tr>
      <tr>
        <td>10</td>
        <td>TBD</td>
        <td>TBD</td>
        <td>TBD</td>
        <td>TBD</td>
      </tr>
      <tr>
        <td>11</td>
        <td>TBD</td>
        <td>TBD</td>
        <td>TBD</td>
        <td>TBD</td>
      </tr>
      <tr>
        <td>12</td>
        <td>TBD</td>
        <td>TBD</td>
        <td>TBD</td>
        <td>TBD</td>
      </tr>
      <tr>
        <td>13</td>
        <td>TBD</td>
        <td>TBD</td>
        <td>TBD</td>
        <td>TBD</td>
      </tr>
      <tr>
        <td>14</td>
        <td>TBD</td>
        <td>TBD</td>
        <td>TBD</td>
        <td>TBD</td>
      </tr>
      <tr>
        <td>15</td>
        <td>TBD</td>
        <td>TBD</td>
        <td>TBD</td>
        <td>TBD</td>
      </tr>
      <tr>
        <td>16</td>
        <td>TBD</td>
        <td>TBD</td>
        <td>TBD</td>
        <td>TBD</td>
      </tr>
    </tbody>
  </table>
</div>
